@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-regular md:text-base;
    @apply text-dark;
    line-height: 1.33;
  }

  body {
    @apply bg-light;
  }

  @font-face {
    font-family: 'Karla', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer components {
  .btn {
    @apply flex justify-center text-h5 py-2 px-10 rounded-md shadow-sm;
  }

  .btn-primary {
    @apply text-light bg-primary hover:bg-primaryHover;
  }

  .btn-secondary {
    @apply text-light bg-secondary hover:bg-secondaryHover;
  }

  .btn-dark {
    @apply text-light bg-dark;
  }

  .btn-light {
    @apply text-dark bg-light border;
  }

  .section {
    @apply pt-5 pb-12;
  }

  .base-container {
    @apply m-auto max-w-[1200px];
  }
}
